{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">	
		<h2>Welcome {{ name }} </h2>
		<h3>Information Networking and Collaboration Tool</h3>
		<br>
		<h4>Infopedia provides platform for users to collaborate and develop content by publishing articles and contributing to others article. </h4>
		<br>
		<h5> <strong>Write a Article:</strong>  Here you can publish a new article and let world contribute to it. </h5>
		<h5><strong>Explore Article:</strong> Here you can view others article and contribute to them. </h5>
		<h5><strong>My Article:</strong> Here you can manage your published articles. </h5>
		<h5><strong>Approvals:</strong> Here you can manage contribution by others to your published articles. </h5>
	</div>
{% endblock %}
